{% extends 'base.html.twig' %}

{% block title %}Salaire{% endblock %}

{% block body %}
    <h1>Salaire</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ salaire.id }}</td>
            </tr>
            <tr>
                <th>SalaireBrut</th>
                <td>{{ salaire.salaireBrut }}</td>
            </tr>
            <tr>
                <th>TauxHoraire</th>
                <td>{{ salaire.tauxHoraire }}</td>
            </tr>
            <tr>
                <th>Promo</th>
                <td>{{ salaire.promo }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_gandaal_admin_site_salaire_index') }}">back to list</a>

    <a href="{{ path('app_gandaal_admin_site_salaire_edit', {'id': salaire.id}) }}">edit</a>

    {{ include('gandaal/admin_site/salaire/_delete_form.html.twig') }}
{% endblock %}
