<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}PDF Document{% endblock %}</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {% block stylesheets %}
    {# <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous"> #}
    {% endblock %}
    <style>
        @page {
            margin: 5px 20px;
        }
        body { margin: 0; padding: 0; font-family: 'Helvetica', 'Arial', sans-serif; color: #333; }
        .header, .footer { width: 100%; text-align: center; background-color: #f4f4f4; padding: 1px; }
        .header { margin-bottom: 20px; }
        .footer { position: fixed; bottom: 0; font-size: 12px; }
        .table-container { margin: 0px; }
        .entete table { width: 100%; margin-bottom: 2px; border-collapse: collapse; }
        .entete img { margin: 10px; }
        .entete td { border: none; }
        .entete div { text-align: center; font-size: 14px; }
        .entete .header-title { font-size: 18px; font-weight: bold; text-align: center; }
        .entete .sub-title { font-size: 14px; margin-top: 5px; text-align: center; }
        .no-break { page-break-inside: avoid; }
        table { width: 100%; border-collapse: collapse; margin-bottom: 2px; }
        th, td { border: 1px solid #ddd; padding: 4px; text-align: left; font-size: 13px; }
        th { background-color: #f2f2f2; font-weight: bold; font-size: 12px; }
        .text-center { text-align: center; }
        .text-end { text-align: right; }
        .nowrap { white-space: nowrap; }
        .signature { margin-top: 2px; text-align: center; font-style: italic; }
        .signature div { margin-bottom: 80px; }

        /* Styles pour deux élèves par page avec séparation par pointillés */
        .eleve-container {
            margin-bottom: 20px;
            position: relative;
            height: 45%; /* Ajuster selon la taille souhaitée pour chaque élève */
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            border-bottom: 2px dashed #333; /* Ajout du bord inférieur */
        }

        /* Empêche l'ajout de la bordure à la dernière élève de la page */
        .eleve-container:last-child {
            border-bottom: none;
        }

        .page-break {
            page-break-after: always;
        }
        .text-danger {color : red; }
        .fw-bold {font-weight: bold}
        .text-center {text-align: center;}
        

    </style>
</head>
<body>
    {% set cumulReste = 0 %}
    {% for item in donnees %}
        <div class="eleve-container">
            <div class="entete">
                <table>
                    <thead>
                        <tr>
                            <td><img width="220" height="60" src="data:image/jpeg;base64,{{ ministerePath }}" alt="Ministere"></td>
                            <td>
                                <div>REPUBLIQUE DE {{ etablissement.entreprise.pays | upper }}</div>
                                <div><img width="30" height="30" src="data:image/jpeg;base64,{{ symbolePath }}" alt="Symbole"></div>
                                <div>Travail - Justice - Solidarité</div>
                            </td>
                            <td>
                                <div><img width="60" height="60" src="data:image/jpeg;base64,{{ logoPath }}" alt="Logo"></div>
                                <div>{{ etablissement.email }}</div>
                                <div>{{ etablissement.telephone }}</div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3" class="header-title">{{ etablissement.nom | upper }}</td>
                        </tr>
                        <tr>
                            <td colspan="3" class="sub-title">{{ etablissement.devise|capitalize }}</td>
                        </tr>
                    </thead>
                </table>
            </div>

            <div class="table-container">
                <div>Chers Parents,</div>
                <div>Sauf erreur de notre part, votre fils/fille <strong>{{ item.inscription.eleve.nomComplet }} </strong> matricule N°<strong>{{ item.inscription.eleve.matricule }}</strong>, né(e) le <strong>{{ item.inscription.eleve.dateNaissance|date("d/m/Y") }}</strong> inscrit(e) en <strong>{{ item.inscription.classe.nom }}</strong> n'est pas à jour dans ses frais de scolarité.</div>

                <table class="table table-bordered table-striped table-hover align-middle text-center">
                    <thead class='text-center'>
                        <tr>
                            <th class='text-center'>Désignation</th>
                            <th class='text-center'>Montant de la tranche</th>
                            <th class='text-center'>Montant payé</th>
                            <th class='text-center'>Reste à payer</th>
                            <th class='text-center'>Date limite</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% set totalReste = 0 %}
                        {% for tranche_reste, reste in item.restes %}  
                            {% set totalReste = totalReste + reste %} 
                            {% set cumulReste = cumulReste + reste %}
                            {% set frais_tranche = item.frais_tranche[loop.index0] %} <!-- Accès à l'élément correspondant -->
                            {# {{dump(frais_tranche.tranche.nom, item.paiements_tranche[frais_tranche.tranche.nom])}} #}
                            <tr>
                                <td class='text-center'>{{ tranche_reste }}</td>
                                <td class="text-center text-nowrap">{{ frais_tranche.montant|number_format(0,',',' ') }}</td>
                                {# <td class="text-center text-nowrap">{{ ((frais_tranche.montant *(1-(item.remise / 100 ))) - reste)|number_format(0,',',' ')}}</td> #}
                                <td class="text-center text-nowrap">
                                    {{ item.paiements_tranche[frais_tranche.tranche.nom] is defined ? item.paiements_tranche[frais_tranche.tranche.nom]|number_format(0, ',', ' ') : '0.00' }}
                                </td>
                                <td class="text-center text-nowrap fw-bold, text-danger" style='font-size: 14px;'>{{ reste|number_format(0,',',' ')}}</td>
                                <td class='text-center'>{{ frais_tranche.dateLimite|date("d/m/Y") }}</td>
                            </tr>
                        {% endfor %}
                        {% if item.restes|length > 1 %}
                            <tr>
                                <th class="">Totaux</th>
                                <th class="text-center text-nowrap">{{ totalReste|number_format(0,',',' ')}}</th>
                                <th class="text-center text-nowrap">{{ item.paiement|number_format(0,',',' ')}}</th>
                                <th class="text-center text-nowrap text-danger">{{ totalReste|number_format(0,',',' ')}}</th>
                                <th class="text-danger"></th>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>

                <div>Merci de faire le nécessaire pour régulariser sa situation.</div>
                <div>Cordialement,</div>        

                <div class="signature">
                    <div>{{ app.user.fonction.nom|ucwords }}</div>
                    <div>{{ app.user.nomComplet }}</div>
                </div>
            </div>
        </div>

        {% if item.restes|length > 1 %}
            <div class="page-break"></div>
        {% else %}
            {% if loop.index is divisible by(2) %}
                <div class="page-break"></div>
            {% endif %}
        {% endif %}
    {% endfor %}
</body>
</html>
