{{ form_errors(form) }}
{{ form_start(form) }}
    <div class="row  mb-1">
        <label class="form-label mx-1" for="">Catégorie matière <a href="{{path('app_gandaal_admin_site_categorie_matiere_new', {etablissement : etablissement.id}) }}" class="btn btn-sm btn-warning"><i class="fas fa-plus"></i></a></label>
        <div class="mx-1">{{ form_widget(form.categorie) }}</div>
    </div>
    <div class="row mb-1">
        {{ form_row(form.nom) }}
    </div>
    <div class="row mb-1">
        {{ form_row(form.codeMatiere) }}
    </div>
    <div class="row mb-1">
        {{ form_row(form.formation) }}
    </div>

    <div class="row mb-1">
        {{ form_row(form.coef) }}
    </div>

    <div class="row mb-1">
        {{ form_row(form.nombreHeure) }}
    </div>
    <div class="row mb-1">
        {{ form_row(form.etatPedagogie) }}
    </div>
    <button class="btn btn-primary ">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
