{% extends 'base_gandaal.html.twig' %}
{% block title %}liste des decaissements{% endblock %}
{% block ul_menu %}
    {% include "gandaal/_common/_nav_comptabilite.html.twig" %}
{% endblock %}

{% block produits %}
    <div class="row m-auto" style="min-height: 100vh; background-image: url('{{asset(chemin_images_config)}}fond.jpg');">
        {% include "gandaal/_common/_nav_comptabilite_2.html.twig" %}

        <div class="col-sm-12 col-md-10">
            {{ include("gandaal/_common/_messages_flash.html.twig") }}

            {% set nbrePages = decaissements.nbrePages %}
            {% set pageEncours = decaissements.pageEncours %} 
            {% set id = etablissement.id %}
        
            <table class="table table-bordered table-striped table-hover align-middle">

                <thead class="sticky-top bg-light text-center">
                    <tr>
                        <th colspan="9" class="text-center bg-info text-white">
                            Liste des décaissements 
                            <a class="btn btn-warning" href="{{ path('app_gandaal_administration_comptabilite_decaissement_new', {etablissement : etablissement.id}) }}">Enregistrer un décaissement</a>
                        </th>
                    </tr>
                    <tr>
                        <th colspan="9" class="text-center bg-info text-white">
                            <div class="row align-items-center ">
                                <div class="col-7">
                                    <form class="form w-100">
                                        <div class="row">
                                            <div class="col-sm-12 col-md-5">
                                                <input type="date" name="date1" value="{{ date1 }}" class="form-control" onChange="this.form.submit()" max="{{ date2 }}"> 
                                                <input type="hidden" name="id_collaborateur_search" value="{{ search }}">
                                            </div>
                                            <div class="col-1">au</div>
                                            <div class="col-sm-12 col-md-6">
                                                <input type="date" name="date2" value="{{ date2 }}" class="form-control" onChange="this.form.submit()" min="{{ date1}}" max="{{ "now"|date("Y-m-d") }}">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-5">
                                    <input type="text" name="search" class="form-control" id="search_user" placeholder="Récherchez un collaborateur">
                                </div>   
                                <div class="bg-light text-white" id="result-search"></div>
                            </div>
                        </th>
                    <tr>
                    <tr>
                        <th class="bg-info text-white">N°</th>
                        <th class="bg-info text-white">Date</th>
                        <th class="bg-info text-white">Collaborateur</th>
                        <th class="bg-info text-white">Motif</th>
                        <th class="bg-info text-white">Montant</th>
                        <th class="bg-info text-white">Devise</th>
                        <th class="bg-info text-white">Mode de Paie</th>
                        <th class="bg-info text-white">Caisse</th>
                        <th class="bg-info text-white">actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for key, decaissement in decaissements.data %}
                    <tr>
                        <td class="text-center">
                            {{ (key +1) }}
                                <a class="" target="_blank"  href="{{ path('app_gandaal_administration_comptabilite_decaissement_recu_pdf', {'id':  decaissement.id, 'etablissement' : etablissement.id }) }}" ><i class="fa fa-file-pdf fs-3 text-success"></i></a>

                            {% if decaissement.document is not empty %}
                                <a href="{{ asset('dossier/decaissements/' ~ decaissement.document) }}" target="_blank"><i class="fa-solid fa-file-pdf fs-3"></i> </a>
                            {% endif %}
                        </td>
                        <td class="text-center">{{ decaissement.dateOperation ? decaissement.dateOperation|date('d/m/Y') : '' }}</td>
                        <td>{{ decaissement.collaborateur.prenom|ucwords ~ " " ~ decaissement.collaborateur.nom |strtoupper }}</td>
                        <td>{{ decaissement.description|ucfirst }}</td>
                        <td class="text-end">{{ decaissement.devise.nom == 'gnf' ? decaissement.montant|number_format(0,',',' ') : decaissement.montant|number_format(2,',',' ') }}</td>
                        <td class="text-center">{{ decaissement.devise.nom|strtoupper }}</td>
                        <td class="text-center">{{ decaissement.modePaie.nom|ucfirst }}</td>
                        <td class="text-center">{{ decaissement.caisse.nom|ucfirst }}</td>
                       
                        <td class="text-center">
                            <a class="btn btn-success" href="{{ path('app_gandaal_administration_comptabilite_decaissement_show', {'id': decaissement.id, etablissement : etablissement.id }) }}"><i class="fa fa-eye"></i></a>
                            {# <a href="{{ path('app_gandaal_administration_comptabilite_decaissement_edit', {'id': decaissement.id, etablissement : etablissement.id}) }}">edit</a> #}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="9">Aucun décaissement éffectué</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% set path = 'app_gandaal_administration_comptabilite_decaissement_index'  %}
                                  
            {% if nbrePages > 1 %}                    

                {% if nbrePages %}
                    <nav aria-label="Page navigation example ">
                        <ul class="pagination justify-content-start">
                            {% if pageEncours > 1 %}
                                <li class="page-item ">
                                    <a class="page-link" href="{{path(path, {etablissement : id, pageEncours : (pageEncours - 1), search : search})}}">&lt;</a>
                                </li>
                            {% else %}
                                <li class="page-item disabled" ><a class="page-link">&lt;</a></li>
                            {% endif %}
                            {% for page in 1..nbrePages %}                
                                <li class="page-item {{ ( page == pageEncours) ? 'active' : ''}} "><a class="page-link" href="{{path(path, {etablissement : id, pageEncours : page, search : search})}}">{{page}}</a></li>
                            {% endfor %}
                            {% if pageEncours < nbrePages %}
                                <li class="page-item "><a class="page-link" href="{{path(path, {etablissement : id,pageEncours : pageEncours + 1, search : search} ) }}">&gt;</a></li>
                            {% else %}
                                <li class="page-item disabled "><a href="" class="page-link" >&gt;</a></li>
                            {% endif %}
                            </li>
                        </ul>
                    </nav>
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock %}
