
<div class="col-sm-12 col-md-2 pb-3" style="background-color:#152736;">
    <a style="width: 100%; " class="btn btn-light text-center fw-bold m-auto my-2" href="{{path("app_gandaal_administration_comptabilite_admin_config_caisse_index", {etablissement : etablissement.id})}}">Gestion des caisses</a>
    <a style="width: 100%; " class="btn btn-light text-center fw-bold m-auto my-2" href="{{path("app_gandaal_administration_comptabilite_admin_tranche_paiement_index", {etablissement : etablissement.id})}}">Tranches Paiements</a>
    <a style="width: 100%; " class="btn btn-light text-center fw-bold m-auto my-2" href="{{path("app_gandaal_administration_comptabilite_admin_frais_inscription_index", {etablissement : etablissement.id})}}">Frais d'inscription/Reins</a>
    <a style="width: 100%; " class="btn btn-light text-center fw-bold m-auto my-2" href="{{path("app_gandaal_administration_comptabilite_admin_frais_scolarite_index", {etablissement : etablissement.id})}}">Frais de Scolarité</a>     
    <a style="width: 100%; " class="btn btn-light text-center fw-bold m-auto my-2" href="{{path("app_gandaal_administration_comptabilite_admin_activite_tarif_index", {etablissement : etablissement.id})}}">Activités</a>
    <a style="width: 100%; " class="btn btn-light text-center fw-bold m-auto my-2" href="{{path("app_gandaal_administration_comptabilite_categorie_recette_index", {etablissement : etablissement.id})}}">Catégorie Recettes</a>
    <a style="width: 100%; " class="btn btn-light text-center fw-bold m-auto my-2" href="{{path("app_gandaal_administration_comptabilite_categorie_depense_index", {etablissement : etablissement.id})}}">Catégorie Dépenses</a>
    
</div>