
<div class="col-sm-12 col-md-2 pb-3" style="background-color:#152736;"> 
    <a style="width: 100%; " class="btn btn-light text-center fw-bold m-auto my-2" href="{{path("app_gandaal_administration_secretaraiat_statistique_index", {etablissement : etablissement.id})}}">Statistiques Générales</a>

    <a style="width: 100%; " class="btn btn-light text-center fw-bold m-auto my-2" href="{{path("app_gandaal_administration_secretaraiat_statistique_niveau", {etablissement : etablissement.id})}}">Stat/Niveau</a>
    <a style="width: 100%; " class="btn btn-light text-center fw-bold m-auto my-2" href="{{path("app_gandaal_administration_secretaraiat_statistique_formation", {etablissement : etablissement.id})}}">Stat/Formation</a>

    <a style="width: 100%; " class="btn btn-light text-center fw-bold m-auto my-2" href="{{path("app_gandaal_administration_secretaraiat_statistique_classe", {etablissement : etablissement.id})}}">Stat/Classe</a>
    
    <a style="width: 100%; " class="btn btn-light text-center fw-bold m-auto my-2" href="{{path("app_gandaal_administration_secretaraiat_statistique_remise_scolarire", {etablissement : etablissement.id})}}">Remises Scolarités</a>

    <a style="width: 100%; " class="btn btn-light text-center fw-bold m-auto my-2" href="{{path("app_gandaal_administration_secretaraiat_statistique_remise_inscription", {etablissement : etablissement.id})}}">Remises Inscriptions</a>

    <a style="width: 100%; " class="btn btn-light text-center fw-bold m-auto my-2" href="{{path("app_gandaal_administration_secretaraiat_statistique_abandon_scolarite", {etablissement : etablissement.id})}}">Abandons</a>
    
</div>