<ul class="navbar-nav me-auto mb-2 mb-lg-0 justify-content-start">
    <li class="nav-item">
        <a class="nav-link active btn btn-danger text-light m-1" aria-current="page" href="{{path("app_gandaal_administration_home", {etablissement : etablissement.id})}}">Accueil</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active btn btn-danger text-light m-1" aria-current="page" href="{{path("app_gandaal_administration_comptabilite_bilan", {etablissement : etablissement.id})}}">Bilan</a>
    </li>
    
    
    <li class="nav-item">
        <a class="nav-link active btn btn-danger text-light m-1" aria-current="page" href="{{path("app_gandaal_administration_comptabilite_paiement_eleve_new", {etablissement : etablissement.id})}}">Paiements Scolarité</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active btn btn-danger text-light m-1" aria-current="page" href="{{path("app_gandaal_administration_comptabilite_paiement_salaire_index", {etablissement : etablissement.id})}}">Paiements Salaires</a>
    </li>

    <li class="nav-item">
        <a class="nav-link active btn btn-danger text-light m-1" aria-current="page" href="{{path("app_gandaal_administration_comptabilite_depense_index", {etablissement : etablissement.id})}}">Dépenses</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active btn btn-danger text-light m-1" aria-current="page" href="{{path("app_gandaal_administration_comptabilite_recette_index", {etablissement : etablissement.id})}}">Recettes</a>
    </li>
</ul>