
<div class="col-sm-12 col-md-2 pb-3" style="background-color:#152736;"> 
    <a style="width: 100%; " class="btn btn-light text-center fw-bold m-auto my-2" href="{{path("app_gandaal_administration_pedagogie_admin_horaire_planifiee", {etablissement : etablissement.id})}}">Heures Planifiées</a>
    <a style="width: 100%; " class="btn btn-light text-center fw-bold m-auto my-2" href="{{path("app_gandaal_administration_pedagogie_admin_heure_travaillee", {etablissement : etablissement.id})}}">Heures Transmises</a>
    <a style="width: 100%; " class="btn btn-light text-center fw-bold m-auto my-2" href="{{path("app_gandaal_administration_pedagogie_calendar_jour", {etablissement : etablissement.id})}}">Présence/Cours</a>
    <a style="width: 100%; " class="btn btn-light text-center fw-bold m-auto my-2" href="{{path("app_gandaal_administration_pedagogie_admin_gestion_absence", {etablissement : etablissement.id})}}">Gestion des Absences</a>
    <a style="width: 100%; " class="btn btn-light text-center fw-bold m-auto my-2" href="{{path("app_gandaal_administration_pedagogie_devoir_eleve_index", {etablissement : etablissement.id})}}">Gestion des devoirs</a>
    <a style="width: 100%; " class="btn btn-light text-center fw-bold m-auto my-2" href="{{path("app_gandaal_administration_pedagogie_admin_gestion_absence", {etablissement : etablissement.id})}}">Gestion des notes</a>
    <a style="width: 100%; " class="btn btn-light text-center fw-bold m-auto my-2" href="{{path("app_gandaal_administration_pedagogie_general_note", {etablissement : etablissement.id})}}">Bulletins</a>

    <a style="width: 100%; " class="btn btn-light text-center fw-bold m-auto my-2" href="{{path("app_gandaal_administration_pedagogie_admin_configuration_module_index", {etablissement : etablissement.id})}}">Modules</a>
</div>