
<div class="col-sm-12 col-md-2 pb-3" style="background-color:#152736;">     
    <a style="width: 100%; " class="btn btn-light text-center fw-bold m-auto my-2" href="{{path("app_gandaal_administration_comptabilite_paiement_salaire_index", {etablissement : etablissement.id})}}">Paiements des Personnels</a>
    <a style="width: 100%; " class="btn btn-light text-center fw-bold m-auto my-2" href="{{path("app_gandaal_administration_comptabilite_gestion_creance_retard_scolarite", {etablissement : etablissement.id})}}">Gestion des créances</a>
    <a style="width: 100%; " class="btn btn-light text-center fw-bold m-auto my-2" href="{{path("app_gandaal_administration_comptabilite_avance_personnel_new", {etablissement : etablissement.id})}}">Avance sur Salaire</a>
    <a style="width: 100%; " class="btn btn-light text-center fw-bold m-auto my-2" href="{{path("app_gandaal_administration_comptabilite_prime_personnel_new", {etablissement : etablissement.id})}}">Gestion des primes</a>
    <a style="width: 100%; " class="btn btn-light text-center fw-bold m-auto my-2" href="{{path("app_gandaal_administration_comptabilite_bilan_mouvement_caisse", {etablissement : etablissement.id})}}">Mouvement des caisses</a>
    <a style="width: 100%; " class="btn btn-light text-center fw-bold m-auto my-2" href="{{path("app_gandaal_administration_comptabilite_paiement_eleve_index", {etablissement : etablissement.id})}}">Frais de scolarité</a>
    <a style="width: 100%; " class="btn btn-light text-center fw-bold m-auto my-2" href="{{path("app_gandaal_administration_comptabilite_paiement_activite_index", {etablissement : etablissement.id})}}">Activités</a>
    <a style="width: 100%; " class="btn btn-light text-center fw-bold m-auto my-2" href="{{path("app_gandaal_administration_comptabilite_transfert_fond_index", {etablissement : etablissement.id})}}">Transfert des fonds</a>
    <a style="width: 100%; " class="btn btn-light text-center fw-bold m-auto my-2" href="{{path("app_gandaal_administration_comptabilite_versement_index", {etablissement : etablissement.id})}}">Versements</a>
    <a style="width: 100%; " class="btn btn-light text-center fw-bold m-auto my-2" href="{{path("app_gandaal_administration_comptabilite_decaissement_index", {etablissement : etablissement.id})}}">Décaissements</a>
    <a style="width: 100%; " class="btn btn-light text-center fw-bold m-auto my-2" href="{{path("app_gandaal_administration_comptabilite_compte_collaborateur_index", {etablissement : etablissement.id})}}">Comptes</a>
    <a style="width: 100%; " class="btn btn-light text-center fw-bold m-auto my-2" href="{{path("app_gandaal_administration_comptabilite_bilan_annuel", {etablissement : etablissement.id})}}">Bilan Annuel</a>
    <a style="width: 100%; " class="btn btn-light text-center fw-bold m-auto my-2" href="{{path("app_gandaal_administration_comptabilite_admin_activite_tarif_index", {etablissement : etablissement.id})}}">Configuration <i class="fa-solid fa-screwdriver-wrench text-danger"></i></a>
    
    <a style="width: 100%; " class="btn btn-light text-center fw-bold m-auto my-2" href="{{path("app_gandaal_administration_comptabilite_paiement_eleve_historique_suppression", {etablissement : etablissement.id})}}">Historique des suppressions</a>
</div>