<div class="col-sm-12 col-md-2 pb-3"> 
    <a style="width: 100%; " class="btn btn-light text-center fw-bold m-auto my-2" href="{{path("app_gandaal_admin_entreprise_index")}}">Entreprise</a>
    <a style="width: 100%; " class="btn btn-light text-center fw-bold m-auto my-2" href="{{path("app_gandaal_admin_etablissement_index")}}">Sites</a>
    {# <a style="width: 100%; " class="btn btn-light text-center fw-bold m-auto my-2" href="{{path("app_gandaal_admin_cursus_index")}}">Cursus</a>
    <a style="width: 100%; " class="btn btn-light text-center fw-bold m-auto my-2" href="{{path("app_gandaal_admin_niveau_classe_index")}}">Niveau d'étude</a>
    <a style="width: 100%; " class="btn btn-light text-center fw-bold m-auto my-2" href="{{path("app_gandaal_admin_formation_index")}}">Formations</a>
    <a style="width: 100%; " class="btn btn-light text-center fw-bold m-auto my-2" href="{{path("app_gandaal_admin_classe_repartition_index")}}">Classes</a>
    <a style="width: 100%; " class="btn btn-light text-center fw-bold m-auto my-2" href="{{path("app_gandaal_admin_matiere_index")}}">Matières</a> #}
</div>