{% extends 'base_gandaal.html.twig' %}
{% block title %}détail paiement salaire{% endblock %}
{% block ul_menu %}
    {% include "gandaal/_common/_nav_comptabilite.html.twig" %}
{% endblock %}

{% block produits %}
    <div class="row m-auto" style="min-height: 100vh; background-image: url('{{asset(chemin_images_config)}}fond.jpg');">
        {% include "gandaal/_common/_nav_comptabilite_2.html.twig" %}

        <div class="col-sm-12 col-md-10">
            {{ include("gandaal/_common/_messages_flash.html.twig") }}
            <h4 class='bg-warning'>Détail du paiement {{paiements_salaires_personnel.reference}} de {{paiements_salaires_personnel.personnelActif.personnel.nomComplet}} matricule N° {{paiements_salaires_personnel.personnelActif.personnel.matricule}}</h4>
            <table class="table table-bordered table-striped table-hover align-middle">
                <tbody>
                    <tr>
                        <th>Montant</th>
                        <td>{{ paiements_salaires_personnel.montant|number_format(0,',',' ') }}</td>
                    </tr>
                    <tr>
                        <th>Mode de paiement</th>
                        <td>{{ paiements_salaires_personnel.modePaie.nom|ucfirst }}</td>
                    </tr>
                    <tr>
                        <th>Caisse</th>
                        <td>{{ paiements_salaires_personnel.caisse.nom|ucfirst }}</td>
                    </tr>
                    <tr>
                        <th>Devise</th>
                        <td>{{ paiements_salaires_personnel.devise.nom|ucfirst }}</td>
                    </tr>
                    <tr>
                        <th>Taux</th>
                        <td>{{ paiements_salaires_personnel.taux }}</td>
                    </tr>
                
                    <tr>
                        <th>Banque</th>
                        <td>{{ paiements_salaires_personnel.banquePaie }}</td>
                    </tr>

                    <tr>
                        <th>Numero/Bordereau</th>
                        <td>{{ paiements_salaires_personnel.numeroPaie }}</td>
                    </tr>
                    <tr>
                        <th>Date de Paiement</th>
                        <td>{{ paiements_salaires_personnel.dateOperation ? paiements_salaires_personnel.dateOperation|date('d/m/Y H:i:s') : '' }}</td>
                    </tr>
                    <tr>
                        <th>Date de Saisie</th>
                        <td>{{ paiements_salaires_personnel.dateSaisie ? paiements_salaires_personnel.dateSaisie|date('d/m/Y H:i:s') : '' }}</td>
                    </tr>
                    <tr>
                        <th>Saisie Par</th>
                        <td>{{ paiements_salaires_personnel.saisiePar.nomComplet}}</td>
                    </tr>
                </tbody>
            </table>
            <div class="d-flex justify-content-between my-4">
                <a class="btn btn-light" href="{{ path('app_gandaal_administration_comptabilite_paiement_salaire_index' , {etablissement : etablissement.id}) }}">Retour</a>

                <form method="post" action="{{ path('app_gandaal_administration_comptabilite_paiement_salaire_confirm_delete', {'id': paiements_salaires_personnel.id, 'etablissement': etablissement.id}) }}" >
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ paiements_salaires_personnel.id) }}">
                    <input type="hidden" name="param" value="simple">
                    <button class="btn btn-danger">Annuler</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
