{% extends 'base.html.twig' %}

{% block title %}Categorierecette{% endblock %}

{% block body %}
    <h1>Categorierecette</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ categorie_recette.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ categorie_recette.nom }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_gandaal_administration_comptabilite_categorie_recette_index') }}">back to list</a>

    <a href="{{ path('app_gandaal_administration_comptabilite_categorie_recette_edit', {'id': categorie_recette.id}) }}">edit</a>

    {{ include('gandaal/administration/comptabilite/categorie_recette/_delete_form.html.twig') }}
{% endblock %}
