{% extends 'base.html.twig' %}

{% block title %}DocumentEnseignant index{% endblock %}

{% block body %}
    <h1>DocumentEnseignant index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Type</th>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for document_enseignant in document_enseignants %}
            <tr>
                <td>{{ document_enseignant.id }}</td>
                <td>{{ document_enseignant.type }}</td>
                <td>{{ document_enseignant.nom }}</td>
                <td>
                    <a href="{{ path('app_gandaal_admin_site_document_enseignant_show', {'id': document_enseignant.id}) }}">show</a>
                    <a href="{{ path('app_gandaal_admin_site_document_enseignant_edit', {'id': document_enseignant.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_gandaal_admin_site_document_enseignant_new') }}">Create new</a>
{% endblock %}
