{% extends 'base.html.twig' %}

{% block title %}Ajout dossier enseignant{% endblock %}

{% block body %}
    <div class="row my-2 mx-0 px-0">
        {% include "gandaal/_common/_nav_admin_site.html.twig" %}
        <div class="col-sm-12 col-md-10 mx-0 px-0">
            {{ include("gandaal/_common/_messages_flash.html.twig") }}
            <div class="container-fluid py-2 mx-0 px-1" style="min-height: 90vh; background-image: url('{{asset(chemin_images_config)}}fond.jpg');">
                {{include("gandaal/_common/_entete_site.html.twig")}}
                <h4>Ajouter un nouveau document de {{enseignant.nomComplet}}</h4>

                {{ include('gandaal/admin_site/document_enseignant/_form.html.twig') }}
                <a class="btn btn-light my-4" href="javascript:history.back()">
                    <i class="fas fa-arrow-left"></i> Retour
                </a>
            </div>

        </div>
    </div>
{% endblock %}
