{% extends 'base.html.twig' %}

{% block title %}DocumentEleve index{% endblock %}

{% block body %}
    <h1>DocumentEleve index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Type</th>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for document_eleve in document_eleves %}
            <tr>
                <td>{{ document_eleve.id }}</td>
                <td>{{ document_eleve.type }}</td>
                <td>{{ document_eleve.nom }}</td>
                <td>
                    <a href="{{ path('app_gandaal_administration_scolarite_document_eleve_show', {'id': document_eleve.id}) }}">show</a>
                    <a href="{{ path('app_gandaal_administration_scolarite_document_eleve_edit', {'id': document_eleve.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_gandaal_administration_scolarite_document_eleve_new') }}">Create new</a>
{% endblock %}
