{% extends 'base_gandaal.html.twig' %}
{% block title %}heures planifiées{% endblock %}
{% block ul_menu %}
    {% include "gandaal/_common/_nav_pedagogie_admin.html.twig" %}
{% endblock %}

{% block produits %}
    <div class="row m-auto" style="min-height: 90vh; background-image: url('{{asset(chemin_images_config)}}fond.jpg');">
        {% include "gandaal/_common/_nav_pedagogie_menu.html.twig" %}

        <div class="col-sm-12 col-md-10">
            {{ include("gandaal/_common/_messages_flash.html.twig") }}                       

            <table class="table table-bordered table-striped table-hover align-middle">

                <thead class="sticky-top bg-light text-center">
                    <tr>
                        <th colspan="11" class="text-center  fw-bold bg-info text-white bg-opacity-75">
                            Heures transmises à la date {{periode|date('m-Y')}}
                            <form>
                                <div class="row d-flex justify-content-between align-items-center ">
                                    
                                    <div class="col-sm-12 col-md-5">
                                        <select name="periode" id="periode" class="form-select mx-1" onChange="this.form.submit()">
                                            <option value="">-- Sélectionnez un mois --</option>
                                            <option value="01" {% if periode_select == "01" %}selected{% endif %}>Janvier</option>
                                            <option value="02" {% if periode_select == "02" %}selected{% endif %}>Février</option>
                                            <option value="03" {% if periode_select == "03" %}selected{% endif %}>Mars</option>
                                            <option value="04" {% if periode_select == "04" %}selected{% endif %}>Avril</option>
                                            <option value="05" {% if periode_select == "05" %}selected{% endif %}>Mai</option>
                                            <option value="06" {% if periode_select == "06" %}selected{% endif %}>Juin</option>
                                            <option value="07" {% if periode_select == "07" %}selected{% endif %}>Juillet</option>
                                            <option value="08" {% if periode_select == "08" %}selected{% endif %}>Août</option>
                                            <option value="09" {% if periode_select == "09" %}selected{% endif %}>Septembre</option>
                                            <option value="10" {% if periode_select == "10" %}selected{% endif %}>Octobre</option>
                                            <option value="11" {% if periode_select == "11" %}selected{% endif %}>Novembre</option>
                                            <option value="12" {% if periode_select == "12" %}selected{% endif %}>Décembre</option>
                                        </select>
                                    </div>

                                    <div class="col-sm-12 col-md-5">
                                        <input type="text" name="search" class="form-control" placeholder="Récherchez un enseignant">
                                    </div>
                                </div>
                            </form>
                        </th>
                    </tr>
                    <tr>
                        <th class="bg-info text-white bg-opacity-75" style="font-size:12px;">N°</th>
                        <th class="bg-info text-white bg-opacity-75" style="font-size:12px;">Matricule</th>
                        <th class="bg-info text-white bg-opacity-75" style="font-size:12px;">Prénom & Nom</th>
                        <th class="bg-info text-white bg-opacity-75" style="font-size:12px;">Téléphone</th>
                        <th class="bg-info text-white bg-opacity-75" style="font-size:12px;">Classe</th>
                        <th class="bg-info text-white bg-opacity-75" style="font-size:12px;">Matière</th>
                        <th class="bg-info text-white bg-opacity-75" style="font-size:12px;">Date</th>
                        <th class="bg-info text-white bg-opacity-75" style="font-size:12px;">Créneau</th>
                        <th class="bg-info text-white bg-opacity-75" style="font-size:12px;">Heure(s) Prev</th>
                        <th class="bg-warning bg-opacity-75" style="font-size:12px;">Heure(s) réal</th>
                        <th class="bg-info text-white bg-opacity-75" style="font-size:12px;">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% set cumulHeure = 0 %}
                    {% set cumulHeureReal = 0 %}
                    
                    {% for key, heureTravaillee in heureTravaillees %}
                        {% set cumulHeure = cumulHeure + heureTravaillee.heurePrev %}
                        {% set cumulHeureReal = cumulHeureReal + heureTravaillee.heureReel %}
                        <form method="post" Action="{{path('app_gandaal_administration_pedagogie_admin_heure_travaille_delete', {id : heureTravaillee.id, etablissement : etablissement.id})}}" onsubmit="return confirm('Confirmez-vous cette opération?');">
                            <tr>
                                <td style="font-size:14px;" class="text-center">{{key + 1}}</td>
                                <td style="font-size:14px;">{{heureTravaillee.event.enseignant.personnel.matricule}}</td>
                                <td style="font-size:14px;">{{heureTravaillee.event.enseignant.personnel.nomComplet}}</td>
                                <td style="font-size:14px;">{{heureTravaillee.event.enseignant.personnel.telephone}}</td>
                                <td style="font-size:14px;">{{heureTravaillee.event.classe.nom}}</td>
                                <td style="font-size:14px;">{{heureTravaillee.event.matiere.nom|capitalize}}</td>
                                <td style="font-size:14px;">{{heureTravaillee.event.start|date('d/m/Y')}}</td>
                                <td style="font-size:14px;">{{heureTravaillee.event.start|date('H:i') ~ '-' ~ heureTravaillee.event.end|date('H:i')}}</td>
                                <td style="font-size:14px;" class="text-center">{{heureTravaillee.heurePrev}}</td>
                                <td style="font-size:14px;" class="text-center bg-warning text-white fw-bold">{{heureTravaillee.heureReel}}</td>
                                
                                <td style="font-size:14px;" class="text-center">
                                    <a href="{{path('app_gandaal_administration_pedagogie_admin_heure_travaille_show', {id : heureTravaillee.id, etablissement : etablissement.id})}}" class="btn btn-success"><i class="fa fa-eye"></i></a>
                                </td>
                            </tr>
                        </form>
                        
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr class="bg-info text-white">
                        <th colspan="8">Cumuls</th>
                        <th class='text-center'>{{cumulHeure}}</th>
                        <th class='text-center'>{{cumulHeureReal}}</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
{% endblock %}