<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Carte de Retrait{% endblock %}</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {% block stylesheets %}
    {# <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous"> #}
    {% endblock %}
    <style>
        @page {
            margin: 10px 10px;
        }
        body {
            margin: 0;
            padding: 0;
            font-family: 'Helvetica', 'Arial', sans-serif;
            color: #333;
        }

        .header-title {
            font-size: 16px;
            font-weight: bold;
            text-align: center;
            color: #003366;
        }

        .sub-title {
            font-size: 14px;
            margin-top: 5px;
            text-align: center;
            color: #006699;
        }

        .text-center {
            text-align: center;
        }

        .text-end {
            text-align: right;
        }

        .card-header,
        .card-body {
            margin-bottom: 10px;
        }

        .card-header {
            background-color: #003366; /* Couleur d'accent pour l'en-tête */
            color: #ffffff;
            padding: 10px;
            border-radius: 15px 15px 0 0;
            text-align: center;
            font-weight: bold;
        }

        .info-row {
            margin-bottom: 10px;
        }

        .info-row div {
            margin-bottom: 5px;
        }

        .signature {
            text-align: center;
            font-style: italic;
            font-size : 11px;
        }

        .signature-box {
            border: 1px dashed #003366;
            padding: 2px;
            margin-top: 0px;
            border-radius: 10px;
        }

        .signature-directeur-box {
            padding: 3px;
        }

        .info-table .label {
            text-align: left;
            font-weight: bold;
            font-size : 12px;
        }

        .info-table .value {
            text-align: left;
            padding-left: 10px;
            font-size : 12px;
        }

        .details-table .label {
            font-weight: bold;
            text-align: left;
            font-size : 12px;
        }

        .details-table .value {
            text-align: left;
            font-size : 12px;

        }

        .card {
            border: 8px solid #003366;
            border-style: double;
            border-radius: 20px;
            width: 380px;
            height: 145px;
            background-color: #ffffff; /* Couleur de fond pour la carte */
            box-shadow: 5px 5px 15px #aaaaaa;
            margin: 20px auto;
            padding: 2px;
            padding: 5px 2px 3px 2px;
        }

        .footer-info {
            margin-top: 0px;
            font-size: 8px;
            color: #003366;
            text-align : center;
        }
    </style>
</head>

<body>
    {% for data in inscriptionsTraites %}
        <table class="card">
            <thead>
                <tr>
                    <td><img width="60" height="60" src="data:image/jpeg;base64,{{ logoPath }}" alt="Logo" style="border-radius: 30px; box-shadow: 3px 0px 10px #aaaaaa;"></td>
                    <td colspan="2">
                        <table style="width: 100%;">
                            <tbody>
                                <tr>
                                    <td class="header-title">{{ etablissement.nom | upper }}</td>
                                </tr>
                                <tr>
                                    <td class="sub-title">{{ etablissement.devise | ucfirst }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td colspan="3" class="text-center" style="box-shadow: 3px 0px 10px #aaaaaa; border-bottom: 4px solid #003366; width: 100%; font-size: 15px; font-family: Georgia; font-weight: bold; margin-top: 1px; background-color: #e6f2ff;">
                        <div style="color: red;">CARTE DE RETRAIT</div>
                        <div>Année Scolaire {{ data.inscription.promotion }}</div>
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="3">
                        <table style="width: 100%;">
                            <tbody>
                                <tr>
                                    <td style='width:70%;'>
                                        <table class="details-table" style="width: 100%;">
                                            <tbody>
                                                <tr>
                                                    <td class="label">N° mat</td>
                                                    <td class="value">{{ data.inscription.eleve.matricule|strtoupper }}</td>
                                                </tr>
                                                <tr>
                                                    <td class="label">Nom</td>
                                                    <td class="value">{{ data.inscription.eleve.nom|strtoupper }}</td>
                                                </tr>
                                                <tr>
                                                    <td class="label">Prénom(s)</td>
                                                    <td class="value">{{ data.inscription.eleve.prenom|ucwords }}</td>
                                                </tr>
                                                <tr>
                                                    <td class="label">Niveau</td>
                                                    <td class="value">{{ data.inscription.classe.formation.cursus.nom | ucwords }}</td>
                                                </tr>
                                                <tr>
                                                    <td class="label">Classe</td>
                                                    <td class="value">{{ data.inscription.classe.nom | strtoupper }}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                    <td><img width="80" height="80" src="data:image/jpeg;base64,{{ data.photoBase64 }}" alt="Photo" style="margin-top: 1px; border-radius: 30px; box-shadow: 3px 0px 10px #aaaaaa;"></td>
                                    <td>
                                        <img src="{{ data.qrCodeData }}" alt="QR Code" style="width: 40px; height: 40px;">
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="1" class="footer-info">
                                        Sis à {{ etablissement.adresse|ucwords ~ " Commune de " ~ etablissement.region|ucwords }}<br>
                                        Tél: {{ etablissement.telephone }}
                                    </td>
                                    
                                    <td colspan="2" class="signature">
                                        {{responsable.fonction.nom|ucwords}}
                                        <div class="signature-directeur-box">
                                            {% if signaturePath != 'nok' %}
                                                <img width="50" height="15" src="data:image/jpeg;base64,{{ signaturePath }}" alt="" style="border-radius: 30px; box-shadow: 3px 0px 10px #aaaaaa;">
                                            {% endif %}
                                        </div>
                                    </td>
                                </tr>
                                {# <tr>
                                    <td colspan="3" class="footer-info">
                                        Sis à {{ etablissement.adresse|ucwords ~ " Commune de " ~ etablissement.region|ucwords ~ " Tél: " ~ etablissement.telephone }}
                                    </td>
                                </tr> #}
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="separation" style="margin: 10px 0;">***************************************************************************************************************</div>
    {% endfor %}
</body>

</html>
