{% extends 'base_gandaal.html.twig' %}
{% block title %}Liste de mes classes{% endblock %}

{% block ul_menu %}
    {% include "gandaal/personnel/_common/_nav_espace_enseignant.html.twig" %}

{% endblock %}

{% block produits %}
    <div class="container-fluid py-5" style="background-image: url('{{asset(chemin_images_config)}}fond.jpg'); background-size: cover; min-height: 100vh;">
        <div class="row justify-content-center">
            <div class="col-sm-12 col-md-10">
                {{ include("gandaal/_common/_messages_flash.html.twig") }}
                
                <h2 class="text-center text-white bg-info p-2 mb-4">Mes Classes</h2>
                
                {% if classe_repartitions is not empty %}
                    {% for formation, classes in classe_repartitions %}
                        <div class="mb-4">
                            <h3 class="text-white bg-info py-2 px-3 rounded">{{ formation|capitalize }}</h3>
                            <div class="row">
                                {% for key, classe_repartition in classes %}
                                    <div class="col-md-4 mb-3">
                                        <div class="card shadow-lg border-0" style="background-color: #f8f9fa;">
                                            <div class="card-body">
                                                <h5 class="card-title text-info">
                                                    {{ classe_repartition.nom|strtoupper }} 
                                                    
                                                </h5>
                                                <p class="card-text">
                                                    Promotion : {{ (classe_repartition.promo - 1) ~ "-" ~ classe_repartition.promo }}
                                                </p>
                                                <a href="{{ path('app_gandaal_personnel_classe_show', {etablissement : etablissement.id, classe : classe_repartition.id, personnelActif : personnel.id}) }}" class="btn btn-primary">
                                                    <i class="fa fa-eye"></i> Voir les élèves
                                                </a>

                                                <a href="{{ path('app_gandaal_personnel_devoir', {etablissement : etablissement.id, classe : classe_repartition.id, personnelActif : personnel.id}) }}" class="btn btn-warning">
                                                    <i class="fa fa-eye"></i> Gestion des notes
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="alert alert-warning text-center">
                        Aucune classe trouvée.
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
