<!DOCTYPE html>
<html>
    <head>
		<meta name="description" content="ecole, maternelle, recherche">
        <meta charset="UTF-8">
        <title>{% block title %}Gandaal{% endblock %}</title>
        {% if entreprise is defined %}            
            <link rel="icon" href="{{ asset(chemin_images_config) }}logo.jpg" type="image/png">
        {% endif %}

        {% block stylesheets %}
            {{ encore_entry_link_tags('all-styles') }}
        {% endblock %}
        
        <link rel="manifest" href="{{ asset('build/pwa-manifest.json') }}">

    </head>
    <body style="background-color: #253553;">
        {% block body %}
            {% block header %}
                {% block bandeau %}
                    <div class="promo d-flex justify-content-center align-items-center">
                        <h6 class="text-center" id="scrollingText">A la plume nous formons les élites de demain</h6>
                    </div>
                {% endblock %}
                <nav class="navbar navbar-expand-lg text-white bg-white" id="nav-scroll" style="height:70px;">
                
                    <div class="container-fluid">
                        <a class="navbar-brand" href="{{ path('app_home') }}">
                            <img src="{{asset(chemin_images_config)}}logo.jpg" height="65" alt="image logo">
                            <span class="fw-bold" style="color: #04244d;">CS LA PLUME</span>
                        </a>

                        <div class="contact-search-container-top d-flex justify-content-between align-items-center ">
                            <a href="" class="contact fw-bold text-center fs-5 mx-2" style="color: #04244d;">
                                <i class="fa-solid fa-phone"></i> 628 19 66 28
                            </a>
                            {% if not app.user %}

                                <a class=" text-decoration-none d-inline-block p-2" href=" {{ path("app_login") }} ">
                                    <i class="fa-solid fa-circle-user mx-2"></i>Connexion
                                </a>
                            {% else %}
                                {# <a class=" text-decoration-none d-inline-block p-2" href="#">
                                    <i class="fa-solid fa-circle-user mx-2"></i> {{ app.user.username |ucwords }}
                                </a> #}

                                <a class="text-success text-decoration-none d-inline-block p-2" href="{{path("app_gandaal_personnel", {etablissement : etablissement.id})}}">
                                    <i class="fa-solid fa-circle-user mx-2"></i> {{ app.user.username |ucwords }}
                                </a>

                                <a class="text-white text-decoration-none d-inline-block p-2 text-danger" href=" {{ path("app_logout") }} ">
                                    <i class="fa-solid fa-circle-user mx-2 text-danger"></i><span class="text-danger fw-bold">Déconnexion</span>
                                </a>

                            {% endif %}
                        </div>
                        
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse " id="navbarSupportedContent">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0 justify-content-start">

                                <li class="nav-item">
                                    <a class="nav-link" aria-current="page" href="{{ path('app_home') }}">Accueil</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" href="#contact">Nous Contactez</a>
                                </li>   
                                
                                <li class="nav-item">
                                    <a class="nav-link" href="#categories">Nos Formations</a>
                                </li>
                                
                                {% if app.user %} 
                                    <li class="nav-item">
                                        <a class="nav-link" href="{{path("app_gandaal_home")}}">Gandaal</a>
                                    </li>
                                {% endif %}

                                
                            </ul>

                            <div class="contact-search-container-bottom d-flex justify-content-between align-items-center">
                                {% if not app.user %}

                                    <a class=" text-decoration-none d-inline-block p-2" href=" {{ path("app_login") }} ">
                                        <i class="fa-solid fa-circle-user mx-2"></i>Connexion
                                    </a>
                                {% else %}
                                    <a class=" text-decoration-none d-inline-block p-2" href="#">
                                        <i class="fa-solid fa-circle-user mx-2"></i> {{ app.user.username |ucwords }}
                                    </a>

                                    <a class="text-white text-decoration-none d-inline-block p-2 text-danger" href=" {{ path("app_logout") }} ">
                                        <i class="fa-solid fa-circle-user mx-2 text-danger"></i><span class="text-danger">Déconnexion</span>
                                    </a>

                                {% endif %}

                                <a href="" class="contact fw-bold text-center fs-5 mx-2" style="color: #04244d;">
                                    <i class="fa-solid fa-phone"></i>  628 19 66 28 
                                </a>
                            </div>
                        </div>
                    </div>
                </nav>                
            {% endblock %}
            {% block carousel %}
                <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        {# {% for banniere in bannieres %}

                            <div class="carousel-item active">
                                <img src="{{asset(chemin_images_bannieres) ~ banniere.image}}" class="d-block w-100 " alt="banniere {{banniere.id}}">
                            </div>                            
                        {% endfor %}                         #}
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon bg-info bg-opacity-50" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                        <span class="carousel-control-next-icon bg-info bg-opacity-50" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            {% endblock %}
            {% block main %}
                <main>
                    {% block categories %}
                        <section class="section" id="categories">
                            <div class="trait-h1  d-flex justify-content-between align-items-center">
                                <h1 class="titre-h1 " id="collaborateurs">Catégories des produits</h1>
                            </div>

                            <div class="section-categories">

                                
                            </div>
                        </section>
                    {% endblock %}

                    {% block produits %}
                        
                    {% endblock %}

                    {% block contact %}
                    {% endblock %}

                    {% block collaborateurs %}
                        
                    {% endblock %}

                    {% block social %}

                        <div class="social-icons">
                            <a href="lien_vers_facebook" target="_blank" class="social-icon"><i class="fab fa-facebook-f"></i></a>
                            <a href="lien_vers_messenger" target="_blank" class="social-icon"><i class="fab fa-facebook-messenger"></i></a>
                            <a href="whatsapp://send?phone=+224622520556" target="_blank" class="social-icon"><i class="fab fa-whatsapp"></i></a>

                            <a href="lien_vers_twitter" target="_blank" class="social-icon"><i class="fab fa-twitter"></i></a>
                            <a href="lien_vers_instagram" target="_blank" class="social-icon"><i class="fab fa-instagram"></i></a>
                            <!-- Ajoutez d'autres liens et icônes selon vos besoins -->
                        </div>
                    {% endblock %}

                    {% block scroll %}

                        <button class="scroll" id="scrollButton" title="Go-to-top" onclick="scrollToTop()">
                            <i class="fa-solid fa-backward-step fa-rotate-90"></i>
                        </button>
                    {% endblock %}


                </main>
            {% endblock %}
            {% block footer %}
                <footer class="mt-5 p-4">
                    <div class="row">
                        <p class="text-center">Nous acceptons les moyens de paiement suivants</p>

                    
                        <div class="d-flex align-items-center justify-content-center" >
                            <div class=""><img src="{{asset(chemin_images_config)}}modep.jpg" width="100" height="50" alt="mode paiement"></div>
                            <div class=""><img src="{{asset(chemin_images_config)}}omoney.jpg" width="100" height="50" alt="orange money"></div>
                        </div>
                    </div>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-12 col-md-3 py-4"><a href="#">Politiques de cookies</a></div>
                            <div class="col-sm-12 col-md-3 py-4"><a href="#">Mentions légales</a></div>
                            <div class="col-sm-12 col-md-3 py-4"><a href="#">Politique de confidentialités</a></div>
                            <div class="col-sm-12 col-md-3 py-4">&copy Copyright Plume – Tous droits réservés. Par DAMKO</div>
                        </div>
                    </div>
                </footer>
            {% endblock %}
        
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('all-scripts') }}
        {% endblock %}
    </body>
</html>
