{% extends 'base_gandaal.html.twig' %}
{% block title %}ajout reinscription{% endblock %}
{% block ul_menu %}
    {% include "gandaal/_common/_nav_scolarite.html.twig" %}
{% endblock %}

{% block produits %}
    <div class="container-fluid  m-auto" style="min-height: 90vh; background-image: url('{{asset(chemin_images_config)}}fond.jpg');">
        {{ include("gandaal/_common/_messages_flash.html.twig") }}
        <div class="row">
            <div class="col-sm-12 col-md-6 border border-danger border-4 rounded-2 p-2 ">
                <h4>Ajouter une ré-inscription</h4>
                {% if reste_annuel > 0 %}
                    <div class="alert alert-danger fw-bold">Attention sauf erreur, cet élève à un reste à payer de {{reste_annuel|number_format(0,',',' ')}} en {{(dernier_promo -1 )~ "-" ~ dernier_promo}}</div>
                {% endif %}

                {{ include('gandaal/administration/scolarite/inscription/_form.html.twig') }}
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="card shadow-sm mb-4">
                    {% if inscription is not empty %}
                    
                        {% if inscription.eleve.photo %}
                            <div class="card-header bg-info text-white text-center">
                                <img src="{{ asset('dossier/eleves/' ~ inscription.eleve.photo) }}" alt="Photo de {{ inscription.eleve.prenom }} {{ inscription.eleve.nom }}" class="img-thumbnail" style="max-width: 150px; max-height: 150px;">
                            </div>
                        {% endif %}
                        <div class="card-body mb-0 pb-0">
                            <table class="table table-bordered table-striped table-hover align-middle">
                                <tbody>
                                    <tr>
                                        <th colspan="2">
                                            <table class="table table-bordered table-striped table-hover align-middle m-0 p-0">
                                                <tbody>
                                                    <tr>
                                                        <th>Matricule</th>
                                                        <td>{{ inscription.eleve.matricule|strtoupper }}</td>
                                                        <th>Classe</th>
                                                        <td>{{ inscription.classe.nom|strtoupper }}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </th>
                                    </tr>
                                    <tr>
                                        <th>Prénom & Nom</th>
                                        <td>{{ inscription.eleve.nomComplet }}</td>
                                    </tr>
                                    <tr>
                                        <th>Date de Naissance</th>
                                        <td>{{ inscription.eleve.dateNaissance ? inscription.eleve.dateNaissance|date('d/m/Y') : '' }} - {{ inscription.eleve.age }} an(s)</td>
                                    </tr>
                                
                                    <tr>
                                        <th><i class="fas fa-phone-alt"></i> Téléphone</th>
                                        <td>{{ inscription.eleve.telephone }}</td>
                                    </tr>
                                    
                                </tbody>
                            </table>
                        </div>

                        <div class="card-body my-0 py-0">
                            <h5 class="card-title bg-warning text-white text-center">Informations Paiements</h5>
                            <table class="table table-bordered table-striped table-hover align-middle">
                                <tbody>
                                    {% if inscription.remiseInscription is not empty %}                                
                                        <tr>
                                            <th>Remise Inscription</th>
                                            <td>{{ inscription.remiseInscription }}%</td>
                                        </tr>
                                    {% endif %}

                                    {% if inscription.remiseScolarite is not empty %}                                
                                        <tr>
                                            <th>Remise Scolarité</th>
                                            <td>{{ inscription.remiseScolarite }}%</td>
                                        </tr>
                                    {% endif %}
                                    <tr>
                                        <th>Reste à payer Inscription</th>
                                        <td>{{ reste_inscription|number_format(0,',',' ')}}</td>
                                    </tr>
                                
                                    <tr>
                                        <th>Reste à payer frais de scolarité</th>
                                        <td>
                                            <table class="table table-bordered table-striped table-hover align-middle">
                                                <tbody class="sticky">
                                                    {% for key, reste in reste_scolarite  %}
                                                        <tr>
                                                            <td>{{key}}</td>
                                                            <td class="text-end">{{reste|number_format(0,',',' ')}}</td>
                                                        </tr>
                                                        
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    
                                </tbody>
                            </table>
                        </div>


                        <table class="table table-bordered table-striped table-hover align-middle my-2">

                            <thead class="sticky-top bg-light text-center">
                                <form>
                                    <tr>
                                        <th colspan="6" class="text-center bg-info text-white">
                                            Historique des paiements {{(dernier_promo -1 )~ "-" ~ dernier_promo}}
                                            <a class="btn btn-warning" target="_blank"  href="{{path("app_gandaal_administration_comptabilite_pdf_paiement_historique", {inscription : inscription.id})}}" ><i class="fa fa-file-pdf fs-5 text-success"></i></a>
                                        </th>
                                    </tr>
                                </form>
                                <tr>
                                    <th class="bg-info text-white">N°</th>
                                    <th class="bg-info text-white">Type</th>
                                    <th class="bg-info text-white">Montant</th>
                                    <th class="bg-info text-white">Date</th>
                                    {# <th class="bg-info text-white">Saisie Par</th> #}
                                    <th class="bg-info text-white">actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% set cumulHistorique = 0 %}
                                {% for key, historique in historiques %}
                                    {% set cumulHistorique =  cumulHistorique + historique.montant %}
                                    <tr>
                                        <td class="text-center">
                                            {{ key + 1 }}
                                            <a class="btn btn-warning" target="_blank"  href="{{path("app_gandaal_administration_comptabilite_pdf_paiement_recu", {id : historique.id})}}" ><i class="fa fa-file-pdf fs-5 text-success"></i></a>
                                        </td>
                                        <td class="text-start">{{ historique.typePaie|ucfirst }}</td>
                                        <td class="text-end">{{ historique.montant|number_format(0,',',' ') }}</td>
                                        <td class="text-center">{{ historique.dateOperation|date("d/m/Y") }}</td>
                                        {# <td class="text-center">{{ historique.saisiePar.nomComplet() }}</td> #}
                                        
                                        <td class="text-center">
                                            <div class="d-flex justify-content-center">
                                                <a class="btn btn-success mx-1" href="{{ path('app_gandaal_administration_comptabilite_paiement_eleve_show', {'id': historique.id, etablissement : etablissement.id}) }}"><i class="fa fa-eye"></i></a>

                                                {# <form method="post" action="{{ path('app_gandaal_administration_comptabilite_paiement_eleve_delete', {'id': historique.id, 'etablissement': etablissement.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ historique.id) }}">
                                                    <button class="btn btn-danger">Annuler</button>
                                                </form> #}
                                            </div>
                                        </td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="5">Aucun paiement enregistré</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th colspan="2" class="bg-info text-white">Cumul</th>
                                    <th Class="text-end bg-info text-white">{{cumulHistorique|number_format(0,',',' ')}}</th>
                                </tr>
                            </tfoot>
                        </table>

                        <table class="table table-bordered table-striped table-hover align-middle my-2">

                            <thead class="sticky-top bg-light text-center">
                                <form>
                                    <tr>
                                        <th colspan="5" class="text-center bg-info text-white">
                                            Cumul des paiements {{(dernier_promo -1 )~ "-" ~ dernier_promo}}
                                            <a class="btn btn-warning" target="_blank"  href="{{path("app_gandaal_administration_comptabilite_pdf_paiement_cumul", {inscription : inscription.id})}}" ><i class="fa fa-file-pdf fs-5 text-success"></i></a>
                                        </th>
                                    </tr>
                                </form>
                                <tr>
                                    <th class="bg-info text-white">N°</th>
                                    <th class="bg-info text-white">Type</th>
                                    <th class="bg-info text-white">Montant</th>
                                    <th class="bg-info text-white">Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for key, cumulPaiement in cumulPaiements %}
                                    <tr>
                                        <td class="text-center">{{ key + 1 }}</td>
                                        <td class="text-start">{{ cumulPaiement.paiement.typePaie|ucfirst }}</td>
                                        <td class="text-end">{{ cumulPaiement.solde|number_format(0,',',' ') }}</td>
                                        <td class="text-center">{{ cumulPaiement.paiement.dateOperation|date("d/m/Y") }}</td>
                                        
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="5">Aucun paiement enregistré</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th colspan="2" class="bg-info text-white">Cumul</th>
                                    <th Class="text-end bg-info text-white">{{cumulHistorique|number_format(0,',',' ')}}</th>
                                    <th Class="text-end bg-danger text-white">Reste: {{(reste_annuel)|number_format(0,',',' ')}}</th>
                                </tr>
                            </tfoot>
                        </table>
                    {% endif %}
                </div>

            </div>
        </div>
        <a class="btn btn-light my-4" href="{{ path('app_gandaal_administration_scolarite_inscription_index') }}">Retour</a>

    </div>
{% endblock %}
