
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>bulletin mensuel</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <style>
        body {
            margin: 0;
            padding: 0;
            font-family: 'Helvetica', 'Arial', sans-serif;
            color: #333;
        }
        .header, .footer {
            width: 100%;
            text-align: center;
            background-color: #f4f4f4;
            padding: 1px;
        }
        .header {
            margin-bottom: 20px;
        }
        .footer {
            position: fixed;
            bottom: 0;
            font-size: 12px;
        }
        .table-container {
            margin: auto;
        }
        .entete table {
            width: 100%;
            margin-bottom: 20px;
            border-collapse: collapse;
        }
        .entete img {
            margin: 10px;
        }
        .entete td {
            border: none;
        }
        .entete div {
            text-align: center;
            font-size: 14px;
        }
        .entete .header-title {
            font-size: 18px;
            font-weight: bold;
            text-align: center;
        }
        .entete .sub-title {
            font-size: 14px;
            margin-top: 5px;
            text-align: center;
        }
        .no-break {
            page-break-inside: avoid;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            margin: auto;
        }
        th, td {
            border: 1px solid black;
            padding: 4px;
            text-align: left;
            font-size: 24px;
            
        }
        td {
            height:20px;

            
        }
        th {
            background-color: white;
            font-weight: bold;
            font-size: 24px;
        }
        .noborder{
            border : 0px solid white;
        }
        .text-start {
            text-align: left;
        }
        .text-center {
            text-align: center;
        }
        .text-end {
            text-align: right;
        }
        .fw-bold {
            font-weight: bold;
        }
        .nowrap {
            white-space: nowrap;
        }
        .signature {
            text-align: center;
            font-style: italic;
        }
        .signature div {
            margin-bottom: 100px;
        }
        .page-break {
            page-break-after: always;
        }
    </style>
</head>
<body>
    <button target="_blank" class="btn btn-warning" onclick="printDiv('printSection')"><i class="fa fa-file-pdf"></i>Imprimer</button>
    <div id="printSection">
        {% for id, data in moyennesParEleve %}
            <div class="entete">
                <table>
                    <thead>
                        <tr>
                            <td class="text-center">
                                <img height="60" src="data:image/jpeg;base64,{{ ministerePath }}" alt="Ministere">
                            </td>
                            <td>
                                <div>REPUBLIQUE DE {{ etablissement.entreprise.pays | upper }}</div>
                                <div><img width="30" height="30" src="data:image/jpeg;base64,{{ symbolePath }}" alt="Symbole"></div>
                                <div>Travail - Justice - Solidarité</div>
                            </td>
                            <td>
                                <div><img width="60" height="60" src="data:image/jpeg;base64,{{ logoPath }}" alt="Logo"></div>
                                <div>{{ etablissement.email }}</div>
                                <div>{{ etablissement.telephone }}</div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3" class="header-title">{{ etablissement.nom | upper }}</td>
                        </tr>
                        <tr>
                            <td colspan="3" class="sub-title">{{ etablissement.devise|capitalize }}</td>
                        </tr>
                    </thead>
                </table>
            </div>

            <div class="table-container">

                <table style='margin:auto;'>
                    <tr>
                        <th colspan="6" class="text-center noborder" >BULLETIN DE NOTES 
                            {% if periode is not empty %}
                                {% if module is empty %}
                                    {{ mois_francais|capitalize }}

                                {% else %}                                    
                                    {{ module.nom|capitalize }}
                                {% endif %}
                                
                            {% else %}
                                {% if search_classe and search_classe.formation.cursus.fonctionnement == 'trimestre' %}
                                    {% if trimestre == 1 %}
                                        {{ trimestre }}<sup>er</sup> TRIMESTRE
                                    {% elseif trimestre == 'annuel' %}
                                        ANNUEL
                                    {% else %}
                                        {{ trimestre }}<sup>ème</sup> TRIMESTRE
                                    {% endif %}
                                {% else %}
                                    {% if trimestre == 1 %}
                                        {{ trimestre }}<sup>er</sup> SEMESTRE
                                    {% elseif trimestre == 'annuel' %}
                                        ANNUEL
                                    {% else %}
                                        {{ trimestre }}<sup>ème</sup> SEMESTRE
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                    
                        </th>
                    </tr>
                    <tr>
                        <th colspan="6" class="text-center noborder">Année-Scolaire {{(promo -1 )}}-{{promo}}</th>
                    </tr>
                    <tr>
                        <th colspan="6" class="text-center noborder">
                            <table>
                                <thead>
                                    <tr>
                                        <th class="text-center">Nom</th>
                                        <th class="text-center">Prénom(s)</th>
                                        <th class="text-center">Matricule</th>
                                        <th class="text-center">Classe</th>
                                    </tr>
                                    <tr>
                                        <th class="text-center">{{data.inscription.eleve.nom|strtoupper}}</th>
                                        <th class="text-center">{{data.inscription.eleve.prenom|ucwords}}</th>
                                        <th class="text-center">{{data.inscription.eleve.matricule|strtoupper}}</th>
                                        <th class="text-center">{{data.inscription.classe.nom|strtolower|strtoupper|exposantClasse|raw}}</th>
                                    </tr>
                                </tbody>
                            </table>
                        </th>
                    </tr>
                    <tr>
                        <td colspan="6" class="text-center noborder">
                            <table>
                                <thead class="table-primary">
                                    <tr>
                                        <th class="text-center">Disciplines</th>
                                        <th class="text-center">Coeff</th>
                                        <th class="text-center">Notes</th>
                                        <th class="text-center">Total</th>
                                        <th class="text-center">Appréciations</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for categorie, matieres in data.moyennes %}
                                        <tr>
                                            <th colspan="5" class="text-center">{{ categorie | capitalize }}</th>
                                        </tr>
                                        {% set cumulCoef = 0 %}
                                        {% set sommePonderee = 0 %}
                                        {% set nombreMatieres = 0 %}
                            
                                        {% for matiereId, detailsMatiere in matieres %}
                                            {% if detailsMatiere.matiere.etatPedagogie !='inactif' and detailsMatiere.matiere.coef is not empty %}
                                                <tr>
                                                    <td class="text-start" style='padding-left : 180px;'>{{ detailsMatiere.matiere.nom | capitalize }}</td>
                                                    <td class="text-center">{{ detailsMatiere.coefficient }}</td>
                                                    {% if detailsMatiere.moyenne != 'NE' %}
                                                        <td class="text-center">{{ detailsMatiere.moyenne | number_format(2, '.', ',') }}</td>
                                                        <td class="text-center">{{ detailsMatiere.moyenne_ponderee | number_format(2, '.', ',') }}</td>
                                                        {# <td class="text-center">
                                                        {{ 
                                                            data.inscription.eleve.sexe == 'f' 
                                                            ? (detailsMatiere.rang_matiere ? (detailsMatiere.rang_matiere == 1 ? detailsMatiere.rang_matiere ~ '<sup>ère</sup>' : detailsMatiere.rang_matiere ~ '<sup>ème</sup>') | raw : 'N/A') 
                                                            : (detailsMatiere.rang_matiere ? (detailsMatiere.rang_matiere == 1 ? detailsMatiere.rang_matiere ~ '<sup>er</sup>' : detailsMatiere.rang_matiere ~ '<sup>ème</sup>') | raw : 'N/A') 
                                                        }} 
                                                        / {{ effectifEvalue }}
                                                        </td> #}
                                                        <td class="text-center">{{ detailsMatiere.appreciation ?? '-' }}</td>
                                                    {% else %}
                                                        <td class="text-center">NE</td>
                                                        <td class="text-center">NE</td>
                                                        <td class="text-center">NE</td>
                                                    {% endif %}
                                                </tr>
                                            {% endif %}
                            
                                            {% set cumulCoef = cumulCoef + detailsMatiere.coefficient %}
                                            {% set sommePonderee = sommePonderee + (detailsMatiere.moyenne != 'NE' ? (detailsMatiere.moyenne * detailsMatiere.coefficient) : 0) %}
                                            {% set nombreMatieres = nombreMatieres + 1 %}
                                        {% endfor %}
                            
                                        {% set moyenneCategorie = cumulCoef > 0 ? sommePonderee / cumulCoef : 0 %}
                                        {% if classe.formation.cursus.nom == 'collège' or classe.formation.cursus.nom == 'lycée' or classe.formation.cursus.nom == 'université' %}
                                            {% set appreciationCategorie = '' %}
                                            {% if moyenneCategorie == 0 %}
                                                {% set appreciationCategorie = '' %}
                                            {% elseif moyenneCategorie >= 0 and moyenneCategorie <= 5 %}
                                                {% set appreciationCategorie = 'Faible' %}
                                            {% elseif moyenneCategorie > 5 and moyenneCategorie < 10 %}
                                                {% set appreciationCategorie = 'Insuffisant' %}
                                            {% elseif moyenneCategorie >= 10 and moyenneCategorie < 11 %}
                                                {% set appreciationCategorie = 'Passable' %}
                                            {% elseif moyenneCategorie >= 11 and moyenneCategorie < 14 %}
                                                {% set appreciationCategorie = 'Assez-bien' %}
                                            {% elseif moyenneCategorie >= 14 and moyenneCategorie < 16 %}
                                                {% set appreciationCategorie = 'Bien' %}
                                            {% else %}
                                                {% set appreciationCategorie = 'Très-Bien' %}
                                            {% endif %}
                                        {% else %}
                                            {% if moyenneCategorie == 0 %}
                                                {% set appreciationCategorie = '' %}
                                            {% elseif moyenneCategorie >= 0 and moyenneCategorie < 5 %}
                                                {% set appreciationCategorie = 'Insuffisant' %}
                                            {% elseif moyenneCategorie >= 5 and moyenneCategorie < 6 %}
                                                {% set appreciationCategorie = 'Passable' %}
                                            {% elseif moyenneCategorie >= 6 and moyenneCategorie < 8 %}
                                                {% set appreciationCategorie = 'Assez-bien' %}
                                            {% elseif moyenneCategorie >= 8 and moyenneCategorie < 10 %}
                                                {% set appreciationCategorie = 'Bien' %}
                                            {% else %}
                                                {% set appreciationCategorie = 'Très-Bien' %}
                                            {% endif %}
                                        {% endif %}
                            
                                        <tr>
                                            <th class="text-center">Moyenne {{ categorie | capitalize }}</th>
                                            <th class="text-center">{{ cumulCoef }}</th>
                                            <th colspan="2" class="text-center">{{ moyenneCategorie | number_format(2, '.', ',') }}</th>
                                            <th class="text-center">{{ appreciationCategorie }}</th>
                                        </tr>
                                    {% endfor %}

                                    <tr>
                                        <th class="text-center">Total Général</th>
                                        {# Vérifier si moyenneGenerale[id] est un tableau avant d'accéder aux clés #}
                                        {% if moyenneGenerale[id] is iterable %}
                                            <th class="text-center">{{ moyenneGenerale[id]['coefTotal']|number_format(2, '.', '') }}</th>

                                            <th colspan="2" class="text-center">{{ moyenneGenerale[id]['somme']|number_format(2) }}</th>
                                        {% else %}
                                            <th class="text-center">NE</th>
                                            <th colspan="2" class="text-center">NE</th>
                                        {% endif %}
                                    </tr>
                                    <tr>
                                        <th colspan="5" class="text-center noborder">
                                            <table>
                                                <tbody>
                                                    <tr>
                                                        <th>Moyenne Générale</th>
                                                    
                                                        {# Vérifier si moyenneGenerale[id] est un tableau avant d'accéder à 'moyenneGenerale' #}
                                                        <th>Elève: 
                                                            {% if moyenneGenerale[id] is iterable and moyenneGenerale[id]['moyenneGenerale'] != 'NE' %}
                                                                {{ moyenneGenerale[id]['moyenneGenerale']|number_format(2, '.', '') }}
                                                            {% else %}
                                                                NE
                                                            {% endif %}
                                                        </th>
                                                        
                                                        <th>Classe: {{ moyenneClasse|number_format(2) }}</th>
                                                        <th>La plus forte: {{ moyennePlusElevee|number_format(2) }}</th>
                                                        <th>
                                                            {% if classe.formation.cursus.nom != 'primaire' %}
                                                                Rang: 
                                                                {{ 
                                                                    data.inscription.eleve.sexe == 'f' 
                                                                    ? (data.rang ? (data.rang == 1 ? data.rang ~ '<sup>ère</sup>' : data.rang ~ '<sup>ème</sup>') | raw : 'N/A') 
                                                                    : (data.rang ? (data.rang == 1 ? data.rang ~ '<sup>er</sup>' : data.rang ~ '<sup>ème</sup>') | raw : 'N/A') 
                                                                }} 
                                                                / {{ effectifEvalue }}
                                                            {% endif %}
                                                        </th>
                                                    </tr>
                                                
                                                </tbody>
                                            </table>
                                        </th>
                                    </tr>

                                    <tr>
                                        <th colspan="5" class="text-center noborder">
                                            {% if classe.formation.cursus.nom in ['collège', 'lycée', 'université'] %}
                                                {% set appreciationgenerale = '' %}
                                                {% if moyenneGenerale[id] is iterable and moyenneGenerale[id]['moyenneGenerale'] is defined %}
                                                    {% if moyenneGenerale[id]['moyenneGenerale'] == 0 %}
                                                        {% set appreciationgenerale = '' %}
                                                    {% elseif moyenneGenerale[id]['moyenneGenerale'] >= 0 and moyenneGenerale[id]['moyenneGenerale'] <= 5 %}
                                                        {% set appreciationgenerale = 'Faible' %}
                                                    {% elseif moyenneGenerale[id]['moyenneGenerale'] > 5 and moyenneGenerale[id]['moyenneGenerale'] < 10 %}
                                                        {% set appreciationgenerale = 'Insuffisant' %}
                                                    {% elseif moyenneGenerale[id]['moyenneGenerale'] >= 10 and moyenneGenerale[id]['moyenneGenerale'] < 11 %}
                                                        {% set appreciationgenerale = 'Passable' %}
                                                    {% elseif moyenneGenerale[id]['moyenneGenerale'] >= 11 and moyenneGenerale[id]['moyenneGenerale'] < 14 %}
                                                        {% set appreciationgenerale = 'Assez-bien' %}
                                                    {% elseif moyenneGenerale[id]['moyenneGenerale'] >= 14 and moyenneGenerale[id]['moyenneGenerale'] < 16 %}
                                                        {% set appreciationgenerale = 'Bien' %}
                                                    {% else %}
                                                        {% set appreciationgenerale = 'Très-Bien' %}
                                                    {% endif %}
                                                {% endif %}
                                            {% else %}
                                                {% set appreciationgenerale = '' %}
                                                {% if moyenneGenerale[id] is iterable and moyenneGenerale[id]['moyenneGenerale'] is defined %}
                                                    {% if moyenneGenerale[id]['moyenneGenerale'] == 0 %}
                                                        {% set appreciationgenerale = '' %}
                                                    {% elseif moyenneGenerale[id]['moyenneGenerale'] >= 0 and moyenneGenerale[id]['moyenneGenerale'] < 5 %}
                                                        {% set appreciationgenerale = 'Insuffisant' %}
                                                    {% elseif moyenneGenerale[id]['moyenneGenerale'] >= 5 and moyenneGenerale[id]['moyenneGenerale'] < 6 %}
                                                        {% set appreciationgenerale = 'Passable' %}
                                                    {% elseif moyenneGenerale[id]['moyenneGenerale'] >= 6 and moyenneGenerale[id]['moyenneGenerale'] < 8 %}
                                                        {% set appreciationgenerale = 'Assez-bien' %}
                                                    {% elseif moyenneGenerale[id]['moyenneGenerale'] >= 8 and moyenneGenerale[id]['moyenneGenerale'] < 10 %}
                                                        {% set appreciationgenerale = 'Bien' %}
                                                    {% else %}
                                                        {% set appreciationgenerale = 'Très-Bien' %}
                                                    {% endif %}
                                                {% endif %}
                                            {% endif %}
                                            <table>
                                                <tbody>
                                                    <tr>
                                                        <th>Appréciation: {{ appreciationgenerale }}</th>
                                                        {% if moyenneGenerale[id] is iterable and moyenneGenerale[id]['comportements'] is defined %}
                                                            {% for comportement in moyenneGenerale[id]['comportements'] %}
                                                                {% if comportement.type == 'absence global' or 'absence' %}
                                                                    <th> Absence(s): {{ comportement.nbControles }}</th>
                                                                {% else %}
                                                                    <th>{{ comportement.type|capitalize }}(s): {{ comportement.nbControles }}</th>
                                                                {% endif %}
                                                            {% endfor %}
                                                        {% endif %}
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </th>
                                    </tr>
                                    
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="6" style="border :0px solid white">

                            <div class="d-flex justify-content-between align-items-center mx-4">
                                {% if classe.formation.cursus.nom == 'collège' or classe.formation.cursus.nom == 'lycée' or classe.formation.cursus.nom == 'université' %}
                                    {% if classe.formation.cursus.nom == 'collège' %}
                                        <div>
                                            {% if responsable_college.signature %}
                                                <div style="margin-bottom : 40px;" class="text-center">{{responsable_college ? responsable_college.fonction.nom|ucwords : 'Censeur'}}</div>

                                                <img Style='margin-left:100px;' width="280" height="80"src="{{ asset('dossier/personnels/' ~ responsable_college.signature) }}" alt="signature" >
                                                
                                                <div style="margin-top : 40px;" class="text-center">{{responsable_college ? (responsable_college.nom|strtoupper ~ " " ~ responsable_college.prenom|ucwords) : ''}}</div>

                                            {% else %}
                                                <div style="margin-bottom : 120px;" class="text-center">{{responsable_college ? responsable_college.fonction.nom|ucwords : 'Censeur'}}</div>
                                            
                                                <div class="text-center">{{responsable_college ? (responsable_college.nom|strtoupper ~ " " ~ responsable_college.prenom|ucwords) : ''}}</div>
                                            {% endif %}

                                            
                                        </div>
                                        <div>
                                            {% if responsable.signature %}
                                                <div style="margin-bottom : 40px;" class="text-center">{{responsable ? responsable.fonction.nom|ucwords : 'Administrateur Général'}}</div>

                                                <img Style='margin-left:100px;' width="280" height="80"src="{{ asset('dossier/personnels/' ~ responsable.signature) }}" alt="signature" >
                                                
                                                <div style="margin-top : 40px;" class="text-center">{{responsable ? (responsable.nom|strtoupper ~ " " ~ responsable.prenom|ucwords) : ''}}</div>

                                            {% else %}
                                                <div style="margin-bottom : 120px;" class="text-center">{{responsable ? responsable.fonction.nom|ucwords : 'Administrateur Général'}}</div>
                                                    
                                                <div class="text-center">{{responsable ? (responsable.nom|strtoupper ~ " " ~ responsable.prenom|ucwords) : ''}}</div>
                                            {% endif %}
                                            
                                            
                                        </div>
                                    {% else %}
                                        <div>
                                            {% if responsable_lycee.signature %}
                                                <div style="margin-bottom : 40px;" class="text-center">{{responsable_lycee ? responsable_lycee.fonction.nom|ucwords : 'Proviseur'}}</div>

                                                <img Style='margin-left:100px;' width="280" height="80"src="{{ asset('dossier/personnels/' ~ responsable_lycee.signature) }}" alt="signature" >
                                                
                                                <div style="margin-top : 40px;" class="text-center">{{responsable_lycee ? (responsable_lycee.nom|strtoupper ~ " " ~ responsable_lycee.prenom|ucwords) : ''}}</div>

                                            {% else %}
                                                <div style="margin-bottom : 120px;" class="text-center">{{responsable_lycee ? responsable_lycee.fonction.nom|ucwords : 'Censeur'}}</div>
                                            
                                                <div class="text-center">{{responsable_lycee ? (responsable_lycee.nom|strtoupper ~ " " ~ responsable_lycee.prenom|ucwords) : ''}}</div>
                                            {% endif %}
                                        </div>
                                        <div>
                                            
                                            {% if responsable.signature %}
                                                <div style="margin-bottom : 40px;" class="text-center">{{responsable ? responsable.fonction.nom|ucwords : 'Administrateur Général'}}</div>

                                                <img Style='margin-left:100px;' width="280" height="80"src="{{ asset('dossier/personnels/' ~ responsable.signature) }}" alt="signature" >
                                                
                                                <div style="margin-top : 40px;" class="text-center">{{responsable ? (responsable.nom|strtoupper ~ " " ~ responsable.prenom|ucwords) : ''}}</div>

                                            {% else %}
                                                <div style="margin-bottom : 120px;" class="text-center">{{responsable ? responsable.fonction.nom|ucwords : 'Administrateur Général'}}</div>
                                                    
                                                <div class="text-center">{{responsable ? (responsable.nom|strtoupper ~ " " ~ responsable.prenom|ucwords) : ''}}</div>
                                            {% endif %}
                                        </div>
                                    {% endif %}
                                {% else %}

                                    <div>
                                        <div style="margin-bottom : 120px;" class="text-center">{{classe.responsable.sexe == 'm' ? 'Le Maître' : 'La Maîtresse'}}</div>
                                        <div class="text-center">{{classe.responsable.nom|strtoupper ~ " " ~ classe.responsable.prenom|ucwords}}</div>
                                    </div>
                                    

                                    <div>
                                            
                                        {% if responsable_primaire.signature %}
                                            <div style="margin-bottom : 40px;" class="text-center">{{responsable_primaire.sexe == 'm' ? 'Le Directeur' : 'La Directrice'}}</div>

                                            <img Style='margin-left:100px;' width="280" height="80"src="{{ asset('dossier/personnels/' ~ responsable_primaire.signature) }}" alt="signature" >
                                            
                                            <div style="margin-top : 40px;" class="text-center">{{responsable_primaire.nom|strtoupper ~ " " ~ responsable_primaire.prenom|ucwords}}</div>

                                        {% else %}
                                            <div>
                                                {# {{dump(responsable_primaire.sexe)}} #}
                                                <div style="margin-bottom : 120px;" class="text-center">{{responsable_primaire.sexe == 'm' ? 'Le Directeur' : 'La Directrice'}}</div>

                                                <div class="text-center">{{responsable_primaire.nom|strtoupper ~ " " ~ responsable_primaire.prenom|ucwords}}</div>
                                            </div>
                                        {% endif %}
                                    </div>
                                    
                                {% endif %}
                            </div>

                        </td>
                    </tr>
                </table>

            </div>

        {% endfor %}
    </div>

</body>
</html>

{% block autres %}
<script>
function printDiv(divId) {
    var contentToPrint = document.getElementById(divId).innerHTML;
    var originalContent = document.body.innerHTML;

    document.body.innerHTML = contentToPrint;
    window.print();
    document.body.innerHTML = originalContent;
}
</script>
{% endblock %}

