
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fiche de note</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    
    <style>
        @page {
            margin: 5px 20px;
        }
        body {
            margin: 0;
            padding: 0;
            font-family: 'Helvetica', 'Arial', sans-serif;
            color: #333;
        }
        .header, .footer {
            width: 100%;
            text-align: center;
            background-color: #f4f4f4;
            padding: 1px;
        }
        .header {
            margin-bottom: 20px;
        }
        .footer {
            position: fixed;
            bottom: 0;
            font-size: 12px;
        }
        .table-container {
            margin: 0px;
        }
        .entete table {
            width: 100%;
            margin-bottom: 20px;
            border-collapse: collapse;
        }
        .entete img {
            margin: 10px;
        }
        .entete td {
            border: none;
        }
        .entete div {
            text-align: center;
            font-size: 14px;
        }
        .entete .header-title {
            font-size: 18px;
            font-weight: bold;
            text-align: center;
        }
        .entete .sub-title {
            font-size: 14px;
            margin-top: 5px;
            text-align: center;
        }
        .no-break {
            page-break-inside: avoid;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 20px;
        }
        th, td {
            border: 1px solid black;
            padding: 4px;
            text-align: left;
            font-size: 13px;
        }
        td {
            height:20px;
            
        }
        th {
            background-color: #f2f2f2;
            font-weight: bold;
            font-size: 12px;
        }
        .text-center {
            text-align: center;
        }
        .text-end {
            text-align: right;
        }
        .fw-bold {
            font-weight: bold;
        }
        .nowrap {
            white-space: nowrap;
        }
        .signature {
            margin-top: 20px;
            text-align: center;
            font-style: italic;
        }
        .signature div {
            margin-bottom: 85px;
        }
        .page-break {
            page-break-after: always;
        }
    </style>
</head>
<body>
    <div class="entete">
        <table>
            <thead>
                <tr>
                    <td>
                        <img width="220" height="60" src="data:image/jpeg;base64,{{ ministerePath }}" alt="Ministere">
                    </td>
                    <td>
                        <div>REPUBLIQUE DE {{ etablissement.entreprise.pays | upper }}</div>
                        <div><img width="30" height="30" src="data:image/jpeg;base64,{{ symbolePath }}" alt="Symbole"></div>
                        <div>Travail - Justice - Solidarité</div>
                    </td>
                    <td>
                        <div><img width="60" height="60" src="data:image/jpeg;base64,{{ logoPath }}" alt="Logo"></div>
                        <div>{{ etablissement.email }}</div>
                        <div>{{ etablissement.telephone }}</div>
                    </td>
                </tr>
                <tr>
                    <td colspan="3" class="header-title">{{ etablissement.nom | upper }}</td>
                </tr>
                <tr>
                    <td colspan="3" class="sub-title">{{ etablissement.devise|capitalize }}</td>
                </tr>
            </thead>
        </table>
    </div>

    <div class="table-container">
        <table class="table table-bordered table-striped table-hover align-middle">
            <thead class="sticky-top bg-light text-center" style="font-size : 12px;">
                <tr>
                    <th colspan="{{ 5 + devoirs|length }}" class="bg-info text-white py-1">
                        Fiche de notes de la {{ classe.nom|strtoupper }} / {{ matiere.nom|ucwords }} / Année-Scolaire: {{ (classe.promo - 1 ) ~ "-" ~ classe.promo }}
                        <a target="_blank" href="{{path('app_gandaal_administration_scolarite_pdf_fiche_note', { etablissement : etablissement.id, 'classe': search_classe ? search_classe.id : '0', matiere : matiere.id,  periode : periode_select, trimestre : trimestre })}}" class="btn btn-warning"><i class="fa fa-file-pdf"></i></a>
                    </th>
                </tr>
                <tr>
                    <th colspan="{{ 5 + devoirs|length }}" class="bg-info text-white text-center py-1">Fiche de notes de la {{classe.nom|strtoupper}} / {{matiere.nom|ucwords}} / 
                        Période: 
                        {% if (classe.formation.cursus.fonctionnement == 'trimestre')  %}

                            {{ periode_select == 1 ? (periode_select ~ "er Trimestre" ) : (periode_select == 'annuel' ? ('Annuel' ): (periode_select ~"ème Trimestre"))}}
                        {% else %}
                            {{ periode_select == 1 ? (periode_select ~ "er Semestre" ) : (periode_select == 'annuel' ? ('Annuel' ): (periode_select ~"ème Semestre"))}}
                        {% endif %}
                    
                    / Année-Scolaire: {{(classe.promo - 1 )  ~ "-" ~ classe.promo}}</th>
                    
                </tr>
                <tr>
                    <th class="bg-info text-white">N°</th>
                    <th class="bg-info text-white">Matricule</th>
                    <th class="bg-info text-white">Prénom & Nom</th>
                    <th class="bg-info text-white">Moyenne</th>

                    <!-- Dynamically create headers for each devoir -->
                    {% for devoir in devoirs %}
                        <th class="bg-info text-white">
                            <table class="table table-bordered table-striped table-hover align-middle">
                                <thead>
                                    <tr>
                                        <th class="bg-info text-white">{{ devoir.nom|ucwords}}</th>
                                    </tr>
                                    <tr>
                                        <th class="bg-info text-white">{{devoir.typeDevoir|capitalize }}</th>
                                    </tr>
                                </thead>
                            </table>
                            
                        </th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for key, inscription in inscriptions %}
                    <tr>
                        <td class="text-center py-1">{{ key + 1 }}</td>
                        <td class="text-center py-1">{{ inscription.eleve.matricule|strtoupper }}</td>
                        <td class="py-1">{{ inscription.eleve.prenom|ucwords }} {{ inscription.eleve.nom|strtoupper }}</td>
                        
                        <!-- Affichage de la moyenne calculée dans le contrôleur -->
                        <td class="text-center py-1">
                            {% if moyennesParInscription[inscription.id] is not null %}
                                {{ moyennesParInscription[inscription.id]|number_format(2) }}
                            {% else %}
                                -
                            {% endif %}
                        </td>
            
                        <!-- Affichage des notes pour chaque devoir -->
                        {% for devoir in devoirs %}
                            <td class="text-center py-1">
                                {{ notesParInscription[inscription.id][devoir.id] ?? '' }}
                            </td>
                        {% endfor %}
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="{{ 5 + devoirs|length }}" class="text-center py-1">Aucun élève enregistré dans cette classe</td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th class="bg-info text-white" colspan="3">Moyenne Générale</th>
                    <th class="text-center">
                        {% if moyenneGeneraleClasse is not null %}
                            {{ moyenneGeneraleClasse|number_format(2) }}
                        {% else %}
                            -
                        {% endif %}
                    </th>
            
                    {# Boucle pour afficher les moyennes par devoir #}
                    {% for nomDevoir, moyenne in moyennesParDevoir %}
                        <th class="text-center">
                            {% if moyenne is not null %}
                                {{ moyenne|number_format(2) }}
                            {% else %}
                                -
                            {% endif %}
                        </th>
                    {% endfor %}
                </tr>
            </tfoot>
            
            
            
        </table>
        
                            
    </div>

    <div class="signature">
        <div>{{app.user.fonction.nom|ucwords}}</div>
        <div>{{app.user.nomComplet}}</div>
    </div>

    <div class="footer">
        <p>Document imprimé par {{ app.user.prenom | capitalize }} {{ app.user.nom | upper }} le {{ "now" | date("d/m/Y à H:i") }}</p>
    </div>
    {# {% if paiements|length > 1 %}
        <div class="page-break"></div>
    {% else %}
        
    {% endif %} #}
</body>
</html>

