{% extends 'base_gandaal.html.twig' %}
{% block title %}modification versement{% endblock %}
{% block ul_menu %}
    {% include "gandaal/_common/_nav_comptabilite.html.twig" %}
{% endblock %}

{% block produits %}
    <div class="row m-auto" style="min-height: 100vh; background-image: url('{{asset(chemin_images_config)}}fond.jpg');">
        {% include "gandaal/_common/_nav_comptabilite_2.html.twig" %}

        <div class="col-sm-12 col-md-10">
            {{ include("gandaal/_common/_messages_flash.html.twig") }}
            
            <h4>Modifier le versement n° {{versement.reference }}</h4>
            {% include "gandaal/_common/_solde_collaborateur.html.twig" %}  

            {{ include('gandaal/administration/comptabilite/versement/_form.html.twig', {'button_label': 'Modifier'}) }}

            <div class="d-flex justify-content-between my-4">

                <a class="btn btn-light" href="{{ path('app_gandaal_administration_comptabilite_versement_index', { etablissement : etablissement.id}) }}">Retour</a>
                {% if is_granted("ROLE_SUPPRESSION") %}
                    {{ include('gandaal/administration/comptabilite/versement/_delete_form.html.twig') }}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
